<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale = 1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
        <title>Job Results</title>
    </head> 

<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbar"> 
        <div class="navbar-nav content">

            <a class="nav-item nav-link" id="home" href="/company">Home</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
        
        </div>
    </div>

    </button>
  </nav>

  <div>
    <br>
    <h4> Job Applicants Scores for: <strong>Software Engineer</strong> </h4>
    <br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Candidate </th>
            <th scope="col">Email</th>
            <th scope="col">Skills%</th>
            <th scope="col"> Personality%</th>
            <th scope="col"> Overall %</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Kevin Gitonga</td>
            <td>kevin@gmail.com</td>
            <td>70%</td>
            <td>75%</td>
            <td>72.5%</td>
          </tr>
          <tr>
        <tbody>
          <tr>
            <th scope="row">2</th>
            <td>Eugine Kanizo</td>
            <td>eugine@gmail.com</td>
            <td>72%</td>
            <td>50%</td>
            <td>61.0%</td>
          </tr>
          <tr>
        <tbody>
          <tr>
            <th scope="row">3</th>
            <td>Michael Otieno</td>
            <td>michael@gmail.com</td>
            <td>71%</td>
            <td>50%</td>
            <td>60.5%</td>
          </tr>
          <tr>
        <tbody>
          <tr>
            <th scope="row">4</th>
            <td>Boniface Kiarie</td>
            <td>bonny@gmail.com</td>
            <td>56%</td>
            <td>25%</td>
            <td>40.5%</td>
          </tr>
          <tr>
   
        </tbody>
      </table>




